.contact {
    min-height: 100vh;
    margin: 0 40px;
    margin-top: 1rem;

    h2 {
        @include secondaryHeader();

        &::before {
            content: "<h2>";
            @include htmlTag;
            top: -1rem;
            left: -1rem;
        }
        &::after {
            content: "</h2>";
            @include htmlTag;
            bottom: -1.3rem;
            left: -1rem;
        }
    }
    .my-mail {
        font-family: noto-sans-light;
        font-size: 24px;
        color: white;
        max-width: 50%;
        position: relative;
        margin-bottom: 3.1rem;

        span {
            font-family: noto-sans-light-italic;
            color: $borderLight;
            transition: all 300ms;
            position: relative;
            & a:hover {
                color: lighten($color: $borderLight, $amount: 25%);
            }

            &.my-options {
                font-size: 20px;
                color: white;
            }
        }
        &::before {
            content: "<p>";
            @include htmlTag;
            top: -1rem;
            left: -1rem;
        }
        &::after {
            content: "</p>";
            @include htmlTag;
            bottom: -1.4rem;
            left: -1rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 50%;
        position: relative;
        &::before {
            content: "<form>";
            @include htmlTag;
            top: -2rem;
            left: -1rem;
        }
        &::after {
            content: "</form>";
            @include htmlTag;
            bottom: -2.3rem;
            left: -1rem;
        }
        div {
            display: flex;
            gap: 0.5rem;
            flex-flow: row wrap;

            input {
                width: calc(50% - 0.25rem);
            }
        }
        input,
        textarea {
            height: 50px;
            padding: 1rem;
            font-size: 18px;
            font-family: "noto-sans-light";
            font-weight: bold;
            background-color: black;
            color: $mainClr;
            border: none;
        }
        .message {
            resize: none;
            overflow: hidden;
            height: 200px;
        }
        @include coolBtn();
        .btn-three {
            justify-content: center;
        }
        .btn-box {
            padding: 1px;
            button {
                font-size: inherit;
                font-family: inherit;
                background-color: inherit;
                border: none;
                outline: none;
                padding: 0px;
            }
        }
    }
    .body-tag {
        position: relative;
        margin-bottom: 1.5rem;
        &::before {
            content: "</body>";
            @include htmlTag;
            bottom: -65px;
            left: -28px;
        }
    }
    .html-tag {
        position: relative;
        &::before {
            content: "</html>";
            @include htmlTag;
            bottom: -65px;
            left: -38px;
        }
    }
}
