.hero {
    font-family: noto-sans;
    flex: 3;
    color: $mainClr;
    line-height: 1;
    margin-left: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    font-size: 50px;

    .html-tag {
        position: relative;
        &::before {
            content: "<html>";
            @include htmlTag;
            top: -118px;
            left: -38px;
        }
    }
    .body-tag {
        position: relative;
        &::before {
            content: "<body>";
            @include htmlTag;
            top: -115px;
            left: -28px;
        }
    }

    h1 {
        font-family: lobster;
        position: relative;
        letter-spacing: 1px;
    }

    h1:before {
        content: "<h1>";
        @include htmlTag;
        margin-top: -1rem;
        left: -1rem;
    }
    h1::after {
        content: "</h1>";
        @include htmlTag;
        bottom: 0;
    }

    span {
        transition: color 0.6s;
        display: inline-block;

        &:hover {
            color: $borderLight2;
        }
    }

    p {
        font-size: 2rem;
        font-family: noto-sans-light-italic;
        color: $borderLight2;
        position: relative;
    }
    p:before {
        content: "<p>";
        @include htmlTag;
        margin-top: -1rem;
        left: -1rem;
    }
    p::after {
        content: "</p>";
        @include htmlTag;
        bottom: -1rem;
        left: -1rem;
    }
}
