@font-face {
    font-family: indie-flower;
    src: url(../../assets/fonts/IndieFlower-Regular.ttf);
}
@font-face {
    font-family: lobster;
    src: url(../../assets/fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family: noto-sans;
    src: url(../../assets/fonts/noto-sans/NotoSans-Regular.ttf);
}
@font-face {
    font-family: noto-sans-bold;
    src: url(../../assets/fonts/noto-sans/NotoSans-SemiBold.ttf);
}
@font-face {
    font-family: noto-sans-light;
    src: url(../../assets/fonts/noto-sans/NotoSans-ExtraLight.ttf);
}
@font-face {
    font-family: noto-sans-light-italic;
    src: url(../../assets/fonts/noto-sans/NotoSans-ExtraLightItalic.ttf);
}
@font-face {
    font-family: la-belle;
    src: url(../../assets/fonts/LaBelleAurore-Regular.ttf);
}