@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";
@mixin htmlTag() {
    font-family: la-belle;
    color: $darkClr;
    font-size: 1rem;
    position: absolute;
    font-weight: bold;
}
@mixin secondaryHeader() {
    font-family: lobster;
    font-size: 60px;
    color: $borderLight2;
    margin-bottom: 2rem;
    position: relative;
    font-weight: 200;

    span {
        display: inline-block;
        letter-spacing: 1px;
    }
}
@mixin coolBtn() {
    .btn-box {
        font-family: "Open Sans Condensed", sans-serif;
        height: 33.33%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-3 {
        background-color: $borderLight2;
    }

    .btn {
        line-height: 50px;
        height: 50px;
        text-align: center;
        width: 250px;
        cursor: pointer;
    }
    .btn-three {
        color: #fff;
        transition: all 0.5s;
        position: relative;
    }
    .btn-three::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.1);
        transition: all 0.3s;
    }
    .btn-three:hover::before {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
    .btn-three::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border: 1px solid rgba(255, 255, 255, 0.5);
        transform: scale(1.2, 1.2);
    }
    .btn-three:hover::after {
        opacity: 1;
        transform: scale(1, 1);
    }
}
